[Unit]
Description=Gophish Phishing Server
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/server-phishing-basic
EnvironmentFile=/etc/phishing-server/phishing-server

ExecStartPre=/usr/local/bin/docker-compose -f ${ENV}.yml build
ExecStart=/usr/local/bin/docker-compose -f ${ENV}.yml up -d
ExecStop=/usr/local/bin/docker-compose -f ${ENV}.yml down
ExecReload=/usr/local/bin/docker-compose -f ${ENV}.yml restart

Restart=always
RestartSec=5s

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
